:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-color: #000000;
  --white-color: #ffffff;
  --section-grey-color: #f5f4fa;
  --footer-color: #2f303a;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  background-color: var(--white-color);
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

.header-logo,
.footer-logo {
  text-decoration: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.section {
  padding: 94px 0;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* --------------------------------header------------------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-nav .header-item + .header-item {
  margin-left: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-nav .link {
  display: block;
  padding: 32px 0;
}

.tel {
  margin-left: 50px;
}

.header-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  display: block;
  padding: 32px 0;
}

.current {
  color: var(--accent-color);
}

.header-logo {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-color);
  margin-right: 93px;
}

.logo-web {
  color: var(--accent-color);
}

.mail,
.tel {
  color: var(--secondary-text-color);
}

/* --------------------------------hero------------------------------- */

.hero {
  background-color: var(--footer-color);
  padding: 200px 0;
  text-align: center;
}

.hero-cont {
  justify-content: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 696px;
  height: 120px;
  margin: auto;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--black-color);
}

/* --------------------------------excell------------------------------- */

.excell-list {
  display: flex;
}

.excell-list-box {
  max-width: 270px;
}

.excell-list-box:not(:last-child) {
  margin-right: 30px;
}

.excell-sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.excell-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* --------------------------------about------------------------------- */

.about {
  padding-top: 0;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.about-list {
  display: flex;
  margin-left: -30px;
}
.about-imgs {
  margin-left: 30px;
}
/* --------------------------------team------------------------------- */

.team {
  background-color: var(--section-grey-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-card {
  background-color: var(--white-color);
  margin-left: 30px;
  border-radius: 4px;
  box-shadow: 0px 3px 0px #e0dfe5;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
}

/* --------------------------------footer------------------------------- */

.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--white-color);
  display: inline-block;
  margin-bottom: 20px;
}

.location {
  line-height: 1.71;
  color: var(--white-text-color);
}

.footer-link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
}

/* --------------------------------portfolio------------------------------- */

.filters-btns {
  display: flex;
  justify-content: center;
}

.portf-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-text-color);
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

.portf-btn:hover,
.portf-btn:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
  margin-bottom: -30px;
}

.projects-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.projects-item-text {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/* 
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--pre-title-color);
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  margin-left: -30px;
  margin-bottom: -30px;
}

.gallery-item {
  width: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
} */
